body{
    margin:20px;
}

#header{
    background-color:darkslateblue;
    color:white;
    padding:30px;
}
#main{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}
#butn{
    display:flex;
    flex-flow: column wrap;
    justify-content:space-evenly;
    margin-top:50px;
}
button{
    padding:30px;
    margin-top:5px;
    font-size:20px;
}
button:hover{
    background-color:lightgrey;
    cursor: pointer;
}
button:active{
    background-color:aqua;
}
#display{
    flex:1;
    flex-flow:column wrap;
    margin-top:50px;
    margin-left: 300px;
}
table,tr,td,th{
    border:1px solid black;
    padding:20px;
}
.tr{
    align-items:center;
}